<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">成長管理シート</h2>
      <%= render partial: 'form', locals: { prototype: @prototype } %>
        <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>

